:root {
    --primary-color: #e34d00;
    --light-black: #1d1c1c;
    --dark-black: #131514;
    --light-gary: #8d8d8d;
    --white: #ffff;
    --black: #000;
    --padding-100: 6.25rem 0; /* 100px */
    --padding-50: 3.125rem 0; /* 50px */
    --padding-30: 1.875rem 0; /* 30px */
    --padding-20: 1.25rem 0; /* 20px */
    --padding-10: 0.625rem 0; /* 10px */
    --padding-5: 0.3125rem 0; /* 5px */
    --margin-100: 6.25rem 0; /* 100px */
    --margin-50: 3.125rem 0; /* 50px */
    --margin-30: 1.875rem 0; /* 30px */
    --margin-20: 1.25rem 0; /* 20px */
    --margin-10: 0.625rem 0; /* 10px */
    --margin-5: 0.3125rem 0; /* 5px */
    --border-radius: 0.3125rem; /* 5px */
    --border-radius-10: 0.625rem; /* 10px */
    --border-radius-20: 1.25rem; /* 20px */
    --border-radius-30: 1.875rem; /* 30px */
    --border-radius-50: 3.125rem; /* 50px */
    --border-radius-100: 6.25rem; /* 100px */
}

/* Font-face */
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Light.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Thin.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Black.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf') format('truetype');
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf') format('truetype');
}
/* General body styles */
body {font-family: 'Roboto Slab', sans-serif;background-color: var(--light-black);color: var(--white);margin: 0;padding: 0;box-sizing: border-box;}
a {color: var(--white);text-decoration: none;font-family: 'Roboto Slab';color: var(--white);}
a:hover {color: var(--primary-color);}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;font-family: 'Unbounded', sans-serif !important;}
h1 {font-size: 3rem; /* 60px */font-weight: 700;line-height: 4.375rem; /* 70px */}
h2 {font-size: 2.7rem; /* 50px */font-weight: 600;line-height: 3rem; /* 60px */}
h3 {font-size: 2.5rem; /* 40px */font-weight: 600;line-height: 3.125rem; /* 50px */}
h4 {font-size: 1.875rem; /* 30px */font-weight: 400;line-height: 2.5rem; /* 40px */}
h5 {font-size: 1.25rem; /* 20px */font-weight: 400;line-height: 1.875rem; /* 30px */}
h6 {font-size: 0.9375rem; /* 15px */font-weight: 400;line-height: 1.5625rem; /* 25px */}
p,.about_ul li{ font-size: 0.9375rem; /* 15px */font-weight: 300;line-height: 1.5625rem; /* 25px */margin: 0;padding: 0;}
ul{list-style: none;}
.about_ul li,.hero_content_title p{letter-spacing: 0.1rem;}
.about_ul{padding: 0;}
/* header css start */
.navbar-nav .nav-link {color: var(--white);}
.primary_btn_bg_without_border:hover a{color: var(--white);}
.header_btn_wrapper {display: inline-block;padding: 0.125rem; /* 2px */border-radius:3.125rem; /* 12px */background: linear-gradient(45deg, #e34d00, #f9a800, #e34d00);}
.primary_btn_bg_without_border {background-color: var(--light-black);color: var(--white);padding: 0.75rem 2.5rem; /* 12px 40px */border: none;border-radius:3.125rem; /* 10px */position: relative;z-index: 1;}
.header_btn_wrapper:hover .primary_btn_bg_without_border  {background: linear-gradient(45deg, #e34d00, #f9a800, #e34d00);color: var(--white);transition: background 0.3s ease, color 0.3s ease;}
.hero_content_title h1{font-weight: 700;line-height: 4rem; /* 70px */color: var(--white);}
.hero_section{padding: var(--padding-50); height: 100vh;}
.hero_section::after ,.hero_img:after{content: '';position: absolute;width: 100%;height: 100%;opacity: 0.5;background: url("../images/bg-hero.png") ;z-index: -1; background-repeat: no-repeat;background-size: contain;}
.hero_section::after{  top: 0;left: -31%;}
.hero_img:after{top: 0;left: 0;}
header .navbar-toggler{background-color:var(--white) !important;border: 0 !important;}
/* .hero_logos_wrapper img{animation: moveImage 1s ease-in-out infinite;} */
@keyframes moveImage {0% {transform: translateX(0);}50% {transform: translateX(10px);}100% {transform: translateX(0);}}
.photoshoplogo_logo{position: absolute;top: 0;left: 0;}
.htmllogo_logo{position: absolute;top: 0;right: 0;}
.csslogo_logo{position: absolute;bottom: 0;left: 50%;}
.jslogo_logo{position: absolute;bottom: 0;right: 0;}
.webflow_logo{position: absolute;bottom: 50%;left: 20%;}
.figma_logo{position: absolute;bottom: 50%;right: 20%;}
.bootsrap_logo{position: absolute;bottom: 20%;right: 10%;}
.indesign_logo{position: absolute;bottom: 20%;left: 10%;}
/* header css End */
.service_swiper_slider .swiper-slide {display: flex;flex-direction: column;align-items: center;gap: 10px; font-size: 20px;background: transparent;color:var(--white);border-radius: 10px;border: 1px solid var(--primary-color);padding: 20px;height: 100%;height: 300px;background-color: transparent;position: relative;cursor: pointer;}
.service_swiper_slider .swiper-slide:after{content: '';position: absolute;width: 10px;height: 100%;border-top-left-radius: 10px;border-bottom-left-radius: 10px;background: linear-gradient(45deg, #e34d00, #f9a800, #e34d00) ;z-index: 1;top: 0;left: 0 ; opacity: 0;}
.service_swiper_slider .swiper-slide:before{content: '';position: absolute; width: 100%;height: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;background: linear-gradient(45deg, #e34d00, #f9a800, #e34d00);z-index: 1;top: 0;left: 0;opacity: 0;}
.service_swiper_slider .swiper-slide:hover:after,.service_swiper_slider .swiper-slide:hover:before{ opacity: 1;}
.service_swiper_slider .swiper-slide h3{font-size: 1rem;word-wrap: break-word;text-align: center;line-height: 1.5rem;}
.service_swiper_slider .swiper-slide p{text-align: center;}
.about_section,.service_section{padding: var(--padding-100);}
.footer_section{padding: var(--padding-20);}
.footer_section .row{justify-content: space-between;align-items: center;}
.footer_ul{display: flex;gap: 20px;justify-content: end;margin: 0;padding: 0;}
.footer_logo img{width: 70px;}
/* Filter Buttons */
.filter-buttons {margin-bottom: 30px;}
.filter-btn {background: #1D1D1D;color: #fff;padding: 10px 20px;border: none;cursor: pointer;margin: 0 5px;transition: background 0.3s;border-radius: 10px;}
.filter-btn.active,
.filter-btn:hover {background: var(--primary-color);}
/* Portfolio Grid */
.portfolio-grid {display: flex;flex-wrap: wrap;gap:20px;}
.portfolio-item {position: relative;overflow: hidden;width: calc(33.333% - 20px);border-radius: 10px;height: 400px;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);transition: transform 0.3s;}
.portfolio-item img {width: 100%;display: block;border-radius: 10px;transition: transform 0.3s;}
.portfolio-item:hover img {transform: scale(1.1);}
.portfolio-info {position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(29, 29, 29, 0.8);color: #fff;padding: 15px;text-align: left;opacity: 0;transition: opacity 0.3s;border-radius: 0 0 10px 10px;}
.portfolio-info h3 a{ font-family: 'Unbounded', sans-serif ;}
.portfolio-item:hover .portfolio-info {opacity: 1;}
/* Image Modal */
.image-modal {display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);justify-content: center;align-items: center;z-index: 9999;}
.image-modal .modal-content {max-width: 90%;max-height: 90%;object-fit: contain;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);border-radius: 10px;transition: transform 0.3s;}
.image-modal .close-modal {position: absolute;top: 20px;right: 30px;color: #fff;font-size: 30px;cursor: pointer;transition: color 0.3s;}
.image-modal .close-modal:hover {color: #ccc;}
.brand-portfolio-item{padding: 10px;display: flex;align-items: center;background-color: white;}
.portfolio_section{padding: var(--padding-100);}
.skill_section{padding: var(--padding-100);}
.skill_grid {display: flex;flex-wrap: wrap;gap: 20px;}
.skill_card {width: 300px;height: 300px;perspective: 1000px;cursor: pointer;border: 1px solid var(--primary-color);border-radius: 10px;  }
.skill_card:hover .card_front {transform: rotateY(180deg);}
.card_back  p{color: var(--black);font-size: 1rem;line-height: 1.3rem;font-weight: 400;}
.skill_card:hover .card_back {transform: rotateY(0deg);background: linear-gradient(45deg, #e34d00, #f9a800, #e34d00);/* background: linear-gradient(45deg, #e34d008c, #f9a80080, #e34d005c); */}
.card_front, .card_back {width: 100%;height: 100%;  border-radius: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);transition: transform 0.6s;backface-visibility: hidden;position: absolute;top: 0;left: 0;display: flex;flex-direction: column;align-items: center;justify-content: center;padding: 20px;text-align: center;}
.card_front {transform: rotateY(0deg);gap: 10px;}
.card_back {transform: rotateY(180deg);background: #4a4a4a;color: #fff;border-radius: 10px;}
.progress {width: 80%;height: 10px;background: #e0e0e0;border-radius: 5px;}
.progress-bar {height: 100%;background: var(--primary-color);border-radius: 5px;transition: width 1s;}
.progress-bar  span{color: var(--white);}
.skill_card i {font-size: 40px;color: var(--primary-color);}
.card_front h3{font-size: 1.5rem;line-height: 1.9rem;}
.card_front i{fill: var(--primary-color);}
.card_front h4{font-size: 1.3rem;line-height: 1.5rem;}

/* Responsive Design */
@media(max-width:1440px){
  .hero_img img{width: 35% !important;}
  .hero_section{height: 75vh;}
}
@media(max-width:1200px){
  .hero_section{height: 100%;}
}
@media (max-width: 768px) {
.portfolio-grid {flex-direction: column;}
.portfolio-item{width: 100%;height: 400px;}
.filter-buttons {display: flex;flex-wrap: wrap;justify-content: center;}
h2{font-size: 2rem;}
.about_section, .service_section{padding: var(--padding-50);}
.service_title {margin-bottom: 2rem;}
.about_dec{margin: var(--margin-30);}
.hero_img:after{display: none;}
.hero_content_title h1{font-size: 2.5rem;line-height: 3rem;}
.footer_ul{flex-direction: column;justify-content: center;align-items: center;}
.footer_logo{text-align: center;margin-bottom: 2rem;}
.skill_card{width: 100%;} 

}
@media(max-width:575px){
  .filter-buttons{flex-direction: column;gap: 10px;}
}
